body {
  margin: 0;
}

a {
  text-decoration: none; /* Ensure no underline for all anchor tags */
}

/* Optionally add this if you want to enforce the same styling for all links */
.link {
  text-decoration: none;
  color: inherit; /* This ensures the link takes the text color of the parent */
}
